body {
    margin: 0 auto;
    max-width: 50em;
    font-family: "Helvetica", sans-serif;
    line-height: 1.5;
    padding: 4em 1em;
    color: #535355;
}

h1, h2, strong {
    color: #333;
}

body div:first-child {
    margin: 100px auto;
    max-width: 50em;
    text-align: center;
}