body {
    margin: 0 auto;
    max-width: 50em;
    font-family: "Helvetica", sans-serif;
    line-height: 1.5;
    padding: 4em 1em;
    color: #535355;
}

h1,
h2,
strong {
    color: #333;
}

img {
    margin-top: 1em;
    padding-top: 1em;
}

button {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
}

button:hover {
    box-shadow: 0 12px 16px 0 rgba(108, 108, 108, 0.24), 0 17px 50px 0 rgba(108, 108, 108, 0.24);
}
