.headerContainer {
  width: 100%;
  max-width: 50em;
  padding: 0;
  margin: 20px auto 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  margin: 0;
  padding: 0;
  line-height: 40px;
  font-size: 1.5em;
  align-items: center;
  vertical-align: middle;
}





